.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: gray;
    justify-content: center;
}

.NavBar {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.NavBody {
    display: flex;
    flex: 1;
    justify-content: center;
    justify-items: center;
}

.NavItem {
    margin: 1%;
    flex: 1;
    padding: 2%;
    align-self: center;
    text-align: center;
    color: #61dafb;
}

.NavImage {
    margin: 1%;
    padding: 2%;
    align-self: center;
    color: #61dafb;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.ActiveLink {
    background-color: #61dafb;
    color: white;
    align-self: center;
}

.Content {
    border: gray;
    align-self: center;
}

.Sign-Container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.Sign-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 1%;
}

.User-Header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-self: center;

}

.Question-List {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;

}

.Question-Container {
    border-width: 2px;
    border-color: #282c34;
    align-self: center;
    padding: 10px;

}

.Question-Header {
    background-color: lightgray;
}

.Question-Body {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.Question-Text-Body {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Question-Answer-Body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Question-Answer-Body-Header {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.Question-Answer-Body-Image {
    align-self: center;
    width: 100px;
    border-radius: 50px;
}

.Question-Answer-Body-Image-Text {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.Question-Answer-Body-Text {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    height: 100px;
    justify-content: space-between;
}

.Question-Answer-Body-Text-Form {
    justify-content: space-between;
}

.New-Question-Container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.New-Question-Header {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}


.New-Question-Body {
    align-self: flex-start;
    text-align: left;
    font-size: 16px;
}


.New-Question-Body-Text {
    margin: 5px;
    margin-left: 0px;
    padding: 5px;
    padding-left: 0px;
}

.New-Question-Body-Form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.New-Question-Body-Form-Input {
    margin: 1px;
    padding: 2px;
}

.New-Question-Body-Form-Button {
    background-color: #61dafb;
    color: white;
}

.LearderBoardItem {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 2px;
    background-color: lightgray;
}

.LearderBoardItem-Image {
    align-self: center;
    width: 100px;
    border-radius: 50px;
}

.LearderBoardItem-Text {
    padding: 5px;
    margin: 2px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.LearderBoardItem-Text2 {
    padding: 5px;
    margin: 2px;
    flex: 1;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
}